.style0{
  background-color:#B2FF59;
}

.style1{
  background-color:#F06292;
}

.style2{
  background-color: #5bc0de;
}

.style3{

  background-color: #fcd837;
}

.style4{
  background-color: #FF7043;
}

.choice{
  text-indent: 6%;
}

.heading{
  width:100%;
  background-color:#3d4154;
  margin:auto 0;
  padding:0.5px;
  border-radius:5px;
  color: white;
}